.transparent{
	background:rgba(255,255,255,0.5);	
}

.campaign-list{
	padding:0px;
	height:400px;	
}
.campaign-masthead{
	height:400px;		
}
.campaign-list h2 {
	margin:0px;
	padding:20px;
}
.campaign-list .controls {
	height: 78px;
    margin-top: 250px;
    padding: 20px;    
    border-bottom:solid 2px #003366;

}
.campaign-list .info {
	font-size: 20px;
    padding: 20px;
}
.quick-donate {	
	background:#2C2C2C;
	padding-top: 10px;
}

h1.page-header{
	background-color: #FC8A25;
	color:#fff;
	padding:10px;
	font-weight: bold;
	font-size:large;
	padding-top:25px;
}


.big {font-size:larger;}