<div id="countdown_{{id}}">
  <div class="dash weeks_dash">
    <h3>Weeks</h3>
    <span class="dash_title">weeks</span>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
  </div>

  <div class="dash days_dash">
    <h3>DD</h3>
    <span class="dash_title">days</span>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
  </div>

  <div class="dash hours_dash">
    <h3>HH</h3>
    <span class="dash_title">hours</span>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
  </div>

  <div class="dash minutes_dash">
    <h3>MM</h3>
    <span class="dash_title">minutes</span>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
  </div>

  <div class="dash seconds_dash">
    <h3>SS</h3>
    <span class="dash_title">seconds</span>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
    <div class="digit"><div class="top" style="display: none;">0</div><div class="bottom" style="display: block;">0</div></div>
  </div>
</div>

<script>
    // set_by_date({{id}},{{day}});
    set_by_offset(1, {day: {{day}} });
</script>
