<div id="{{container_id|default:"quick-donate"}}" class='quick-donate {{ is_collapsed|yesno:"collapse,in" }}'  >
	<div class="col-md-4">
		<div class="panel panel-default donate-panel">
		  <div class="panel-heading"><h3 class="panel-title" ><em class='big'>Quick</em> Donate</h3></div>
		  <div class="panel-body">
		  	{% include 'campaign/components/payfast_button.html' with campaign=campaign amount='100' editable=False btn_classes='btn btn-block' btn_text='R100' %}
		    {% include 'campaign/components/payfast_button.html' with campaign=campaign amount='500' editable=False btn_classes='btn btn-block' btn_text='R500' %}
		    {% include 'campaign/components/payfast_button.html' with campaign=campaign amount='1000' editable=False btn_classes='btn-success btn-block' btn_text='R1000' %}
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default donate-panel">
		  <div class="panel-heading"><h3 class="panel-title" ><em class='big'>Custom</em> Donate</div>
		  <div class="panel-body">
		      {% include 'campaign/components/payfast_button.html' with campaign=campaign amount='1000' editable=True btn_classes='btn-success btn-block' btn_text='Donate' %}

		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default donate-panel">
		  <div class="panel-heading"><h3 class="panel-title" >Buy <em class='big'>67 minutes</em></h3></div>
		  <div class="panel-body">
		    <form name="salaryDonation">
			  <div class="form-group">
			    <label for="donation-amount">Enter your monthly salary</label>
			    <input type="text" class="form-control" id="donation-amount" name="monthlySalary" placeholder="Your monthly salary" onkeyup="calculate67MinSalary(this.form, '{{campaign.id}}')">
			    <span class="info">
			    	<strong>You earn R<span id="salary_to_donate_{{campaign.id}}"></span> in 67 mins</strong>
			    </span>
					<script>

					</script>
			  </div>
			  <button class="btn btn-block btn-success" >Donate R<span id="btn_txt_salary_donate_{{campaign.id}}"></span></button>
			</form>
		  </div>
		</div>
	</div>
	<div class='clearfix'></div>
</div>
