{% comment %}
Examples: 
{% include 'campaign/components/payfast_button.html' with form_name='123' campaign=campaign amount='123' editable=False btn_classes='btn-success btn-primary' %}

custom:
{% include 'campaign/components/payfast_button.html' with form_name='custom' campaign=campaign amount='100' editable=True %}
{% endcomment %}

<form action="{{PAYFAST_URL}}" method="post" name="{{campaign.pk}}_{{form_name}}" >
<input type="hidden" name="cmd" value="_paynow">
<input type="hidden" name="receiver" value="{{campaign.charity.gateway_properties.recipient_email}}">
<input type="hidden" name="item_name" value="FlashGive: {{campaign.name}}">
{% if editable %}
<div class="form-group">
	<label for="donation-amount">How much would you like to donate?</label>
	<input type="text" class="form-control" name="amount" value="{{amount}}" >	
</div>
{% else %}
<input type="hidden" name="amount" value="{{amount}}">
{% endif %}
<input type="hidden" name="return_url" value="http://{{SITE.domain}}{% url 'campaign_detail' campaign.slug %}/success/?amount={{amount}}">
<input type="hidden" name="cancel_url" value="http://{{SITE.domain}}{% url 'campaign_detail' campaign.slug %}">
<button type="submit" class="btn {{btn_classes}}">{{btn_text|default:"Donate"}}</button>
</form>
