{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load humanize %}


{% block "page_header" %}{{campaign.charity.name}}. {{campaign.name}}{% endblock %}

{% block "page_extra" %}
{% include 'campaign/components/donate.html' with is_collapsed=True container_id='quick-donate' %}
{% if transaction %}
<div class='jumbotron text-center'>
	<h1>You're Awesome. <small>Thank-you for your donation</small></h1>
</div>
{% endif %}

{% endblock %}

{% block 'content' %}
<div class='col-md-12'>
	<p class="lead text-center">
		So far we've raised <em class='big'>R{{total|floatformat:2|intcomma}}</em>
		since this campaign started <em class='big'>{{campaign.start_date|timesince}}</em> ago.<br/>
		<span id="pageTimer_{{campaign.id}}">{% include 'campaign/components/countdown.html' with start_date='' end_date=campaign.expiry_date id=campaign.id %}</span> remaining<br/>
		{{ campaign.score_summary }} (you're in the {{TEAM.name}})
	</p>

	<div class="hr-divider">
	  <h3 class="hr-divider-content hr-divider-heading">
	    Help Promote
	  </h3>
	</div>
	<p class="lead text-center m-b-lg" >
		<small>
			Help us promote this great cause by sharing this link with your friends:<br/>
			<a href = "http://{{SITE.domain}}{% url 'campaign_detail' campaign.slug %}">
				http://{{SITE.domain}}{% url 'campaign_detail' campaign.slug %}?team={{TEAM.pk}}
			</a><br/>
			(and also help the <em class='big'>{{TEAM.name}}</em> to raise the most!)
		</small>
	</p>

	<div class="row">

		<div class='col-md-8'>

		{% if campaign.video %}
		<!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="{{campaign.video}}" frameborder="0" allowfullscreen></iframe>
		</div>
		{% endif %}

		<div class="hr-divider">
		  <h3 class="hr-divider-content hr-divider-heading">
		    {{campaign.charity.name}}
		  </h3>
		</div>
		<div class='lead m-t-md'><small>{{campaign.description}}</small></div>

		</div>
		<div class='col-md-4'>

			<div class="statcard p-a-md text-center">
			  <h3 class="statcard-number">R{{total|floatformat:2|intcomma}}</h3>
			  <span class="statcard-desc">Total Donated</span>
			</div>

			<div class="statcard p-l-md p-r-md m-b-md text-center">
				<button
					data-toggle='collapse' data-target='#quick-donate'
					class='btn btn-success btn-block'>Donate</button>
			</div>

			<div >
				{% comment %}
				<pre><code>{{campaign.scores_by_team_as_percent}}</code></pre>
				{% endcomment %}
			  <canvas
			    class="ex-graph"
			    data-chart="doughnut"
			    data-value="[{% for score in campaign.scores_by_team_as_percent %}{ value: {{score.percent}}, color: '{{score.color}}', label: '{{score.team__name}}' }{% if not forloop.last %},{% endif %}{% endfor%} ]"
			    data-segment-stroke-color="#252830">
			  </canvas>
			</div>



			<div class="statcard p-a-md text-center">
			  <h3 class="statcard-number">{{donations|length}}</h3>
			  <span class="statcard-desc">Total Donations</span>
			</div>

			<div class="statcard p-a-md text-center">
			  <h3 class="statcard-number">R{{highest|floatformat:2|intcomma}}</h3>
			  <span class="statcard-desc">Highest Donation</span>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block "js" %}
{{block.super}}
<script src="{% static "js/chart.js" %}" ></script>
<script src="{% static "js/toolkit.min.js" %}" ></script>
{% endblock %}
