{% extends 'base.html' %}

{% block 'content' %}
<h1>Campaigns</h1>

{% for campaign in campaign_list %}
<div class="col-md-12 campaign-list" 
	style="background:url('http://www.gatesfoundation.org/~/media/GFO/Home/banner-1.png')">	
	<h2 class='transparent'>{{campaign.charity.name}}. <small>{{campaign.name}}</small></h2>

	<div class='controls transparent'>
		<span class='info'>R 100 000 raised so far</span>

		<div class="pull-right" >
			<button class="btn" >More Info</button>
			<button 
				class="btn btn-primary" 
				data-toggle="collapse" href="#quick-donate" >Donate Now</button>
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="quick-donate" class='quick-donate collapse'  >
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">Quick Donate</div>
			  <div class="panel-body">
			    <button class="btn btn-block" >R100</button>
			    <button class="btn btn-block" >R500</button>
			    <button class="btn btn-block" >R1000</button>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">Custom Donate</div>
			  <div class="panel-body">
			    <form>
				  <div class="form-group">
				    <label for="donation-amount">How much would you like to donate?</label>
				    <input type="email" class="form-control" id="donation-amount" placeholder="Email">
				  </div>	
				  <button class="btn btn-block" >Donate</button>
				</form>			  			    
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">Buy 67 minutes</div>
			  <div class="panel-body">
			    <form>
				  <div class="form-group">
				    <label for="donation-amount">Enter your monthly salary</label>
				    <input type="email" class="form-control" id="donation-amount" placeholder="Email">
				    <span class="info">
				    	<strong>You earn R 1234.00 in 67 mins</strong>
				    </span>
				  </div>	
				  <button class="btn btn-block" >Donate R1234.00</button>
				</form>
			  </div>
			</div>
		</div>
		<div class='clearfix'></div>
	</div>
</div>
{% endfor %}

{% endblock %}